<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/style.css">
    <title>Result Management Application</title>

</head>

<body>
    {{>layout}}
    <h3 style="color: grey; font-weight:bold; text-align:center; margin-top:10px;">{{error}}</h3>
    <div class="shownumberofstudent">
        <h6 class="shownumberofstudenth6">Total number of students: {{lenghtrecord}}</h6>
        <a href="/teacher/addnewrecord" style="color: white;" class="addnewuserbtn">
            <button type="button" class="btn btn-primary">
                Add record
            </button>
        </a>
    </div>
    {{#if rendertable}}
    <div class="stuTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Roll no.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">Score</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
    {{/if}}
            <tbody>
                {{#each results}}
                <tr>
                    <td>
                        {{this.rollno}}
                    </td>
                    <td>
                        {{this.name}}
                    </td>
                    <td>
                        {{this.dob}}
                    </td>
                    <td>
                        {{this.score}}
                    </td>
                    <td class="text-end">

                        <a href="/teacher/edit/{{this.rollno}}">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="/teacher/delete/{{this.rollno}}" style="margin-left:20px;color:red;">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>